/* src/App.css
.App.light {
  background-color: #f9f9f9;
  color: #333;
}

.App.dark {
  background-color: #333;
  color: #f9f9f9;
}

.App.dark .product-card {
  background-color: #444;
  color: #f9f9f9;
}

.App.dark .add-to-cart-btn {
  background-color: #007bff;
}

.App.dark .add-to-cart-btn:hover {
  background-color: #0056b3;
} */

/* src/App.css */
/* body.dark-mode {
  background-color: #333;
  color: #f9f9f9;
} */

/* src/App.css */
/* .dark-mode {
  background-color: #121212;
  color: #ffffff;
} */


/* src/App.css */
.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.cart-items-list {
  max-height: 400px;
  overflow-y: auto;
}

.cart-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.cart-item-image {
  width: 100px;
  height: auto;
  border-radius: 5px;
}

.cart-item-details {
  flex-grow: 1;
}
